<h1>New employee information</h1>
<hr><br>

<%= form_for @employee do |f| %>
  <span>Name: </span>
  <%= f.text_field :name, required: true %><br>
  <span>Title: </span>
  <%= f.text_field :position_title %><br>
  <span>Phone Number: </span>
  <%= f.text_field :phone_number %><br>
  <span>Email: </span>
  <%= f.text_field :email %><br>
  <span>Emergency Contact: </span>
  <%= f.text_field :emergency_contact %><br>
  <span>Birthday: </span>
  <%= f.text_field :birthday %><br>
  <span>Equity: </span>
  <%= f.text_field :equity %><br>
  <span>Full-Time: </span>
  <%= f.text_field :full_time %><br>
  <span>Start Date: </span>
  <%= f.text_field :start_date %><br>
  <span>Salary: </span>
  <%= f.text_field :salary %><br>
  <span>Shirt Size: </span>
  <%= f.text_field :shirt_size %><br>
  <span>Favorite Foods: </span>
  <%= f.text_field :favorite_foods %><br>
  <span>Allergies: </span>
  <%= f.text_field :allergies %><br>
  <span>Badge Photo: </span>
  <%= f.text_field :badge_photo %><br>
  <br>
  <%= f.submit %>
<% end %>
