<h1>New employee information:</h1>

<%= form_for @employee do |k| %>
  <span>Name: </span>
  <%= k.text_field :name, required: true %><br>
  <span>Title: </span>
  <%= k.text_field :position_title %><br>
  <span>Phone Number: </span>
  <%= k.text_field :phone_number %><br>
  <span>Email: </span>
  <%= k.text_field :email %><br>
  <span>Emergency Contact: </span>
  <%= k.text_field :emergency_contact %><br>
  <span>Birthday: </span>
  <%= k.text_field :birthday %><br>
  <span>Equity: </span>
  <%= k.text_field :equity %><br>
  <span>Full-Time: </span>
  <%= k.text_field :full_time %><br>
  <br>
  <%= k.submit %>
<% end %>
