<h1>New Company information</h1>
<hr><br>

<%= form_for @company do |f| %>
  <span>Name: </span>
  <%= f.text_field :name, required: true %><br>
  <span>Description: </span>
  <%= f.text_field :description %><br>
  <span>Email: </span>
  <%= f.text_field :email, required: true %><br>
  <br>
  <%= f.submit %>
<% end %>
