<h1>Company Information</h1>
<%= link_to "Add New Company", new_company_path %>
<hr>
<% @companies.each do |company| %>
  <p><b>Name:</b> <%= company.name %></p>
  <p><b>Description:</b> <%= company.description %></p>
  <p><b>Email:</b> <%= company.email %></p>
  <%= link_to "Delete" %> <hr>
<% end %>
